datadir="/var/lib/proxysql"
admin_variables=
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6032"
}
mysql_variables=
{
    threads=4
}
mysql_servers =
(
    { address="mysql1", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql2", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql3", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql4", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql5", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql6", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql7", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql8", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql9", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql10", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql11", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql12", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql13", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql14", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql15", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql16", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql17", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql18", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql19", port=3306, hostgroup=0, max_connections=100 },
    { address="mysql20", port=3306, hostgroup=0, max_connections=100 },
)
mysql_users:
(
    { username="user", password="pass", default_hostgroup=0, transaction_persistent=false }
)