datadir="/var/lib/proxysql"

admin_variables =
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables =
{
    threads=4
    poll_timeout=2000
    interfaces="0.0.0.0:6033"
    monitor_username="monitor"
    monitor_password="monitorpassword"
    monitor_history=60000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    monitor_read_only_interval=1500
}

mysql_servers =
(
    {
        address = "mysql"   # The service name of your MySQL container
        port = 3306
        hostgroup_id = 0
        max_connections = 100
    }
)

mysql_users =
(
    {
        username = "allairx"
        password = "WireTrip0908@allairx"
        default_hostgroup = 0
        active = 1
    },
    {
        username = "laravel_user"
        password = "secret"
        default_hostgroup = 0
        active = 1
    }
)

mysql_query_rules =
(
    {
        rule_id=1, active=1, match_pattern=".*", destination_hostgroup=0, apply=1
    }
)
