datadir="/var/lib/proxysql"

admin_variables =
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables =
{
    threads=4
}

mysql_servers =
(
    { address="mysql1", port=3306, hostgroup_id=0, max_connections=100 },
    { address="mysql2", port=3306, hostgroup_id=0, max_connections=100 },
    { address="mysql3", port=3306, hostgroup_id=0, max_connections=100 },
    { address="mysql4", port=3306, hostgroup_id=0, max_connections=100 },
)

mysql_users =
(
    { username="allairx", password="WireTrip0908@allairx", default_hostgroup=0, transaction_persistent=false }
)

mysql_query_rules =
(
    { rule_id=1, active=1, match_pattern="^SELECT", destination_hostgroup=1, apply=1 },
    { rule_id=2, active=1, match_pattern=".*", destination_hostgroup=0, apply=1 }
)
